<!DOCTYPE html>

<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="bootstrap.min.js"></script>
<script src="angular.min.js"></script>
<script src="dl.js"></script>
</head>
<body>
<div class="container" ng-app="dlApp" ng-controller="dl-control">
  <h2>Form control: input</h2>
  <p>The form below contains two input elements; one of type text and one of type password:</p>
  <form>
      <label for="usr">Name:</label>
      <input type="text" class="form-control" id="usr" ng-model="name">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" ng-model="pswd">
			<button ng-click="login()">login</button>
  </form>
</div>

</body>
</html>


